// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.winning-team {
    font-weight: bold;
}

#match-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#games-widget {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $blue;
    padding: 30px;
    box-shadow: $box-shadow;
    z-index: 1;
}

#submit-button {
    width: 100px;
    margin: 20px;
}

#home-player {
    font-family: 'VT323', monospace;
    width: 100%;
    color: $light-blue;
    text-shadow: 2px 2px 2px black;

    h2 {
        font-size: 5em;
        margin: 0;
    }
}

#away-player {
  width: 100%;
}

.player {
    text-align: center;
}

#match {
    .button {
        background-color: $gray;
        border: 1px solid black;
        font-size: 20px;
        padding: 15px;
        border-radius: 3px;
    }

    .button:hover {
        background-color: #E9E9E9;
    }

    .games {
        display: flex;
        flex: 1;
        flex-direction: row;

        .game {
            flex: 1;
            display: flex;
            flex-direction: column;
            margin: 5px;
            align-items: center;
            
            .gameTitle {
                font-size: 11px;
                color: white;
            }
        }
    }
}

.bottom {
    padding: 50px;
    width: 100%;
    text-align: center;
    box-shadow: $box-shadow;
}

.control-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: $box-shadow;

    .team {
        display: flex;
        height: 150px;
    }

    .home-team {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}

.control-container {
    position: relative;
    width: 100%;

    .control {
        cursor: pointer;
        width: 100%;

        :hover ~ .control-indicator {
            background: $green;
        }

        input {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }

        .control-indicator {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    }
}

.control-indicator {
    background-color: rgba(255,255,255,0.7);
}

.home-team .control-indicator {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.away-team .control-indicator {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

// Checked state
.control input:checked ~ .control-indicator {
    background: $dark-green;
}

// Hover state while checked
.control:hover input:not([disabled]):checked ~ .control-indicator,
.control input:checked:focus ~ .control-indicator {
    background: $dark-green;
}

// Disabled state
.control input:disabled ~ .control-indicator {
    pointer-events: none;
    opacity: .6;
    background: #e6e6e6;
}